name: test

on:
  push:
    branches:
      - master
    tags-ignore:
      - '*'
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - name: Get dependencies
        run: go mod download
      - name: Build
        run: go build -v .

  test:
    name: Integration Tests
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
      - name: Get dependencies
        run: go mod download
      - name: Run integration tests
        timeout-minutes: 5
        env:
          ROOTLY_API_TOKEN: ${{ secrets.ROOTLY_API_TOKEN }}
        run: go test -v -cover ./test/
